<div id="headerwrap">
    <div class="container">
        <div class="row">

			<img style="position: absolute; left: 200px; top: 150px; z-index: 10;" src="/assets/img/under-construction.png" width="300px" alt="UNDER CONSTRUCTION">

            <div class="col-lg-8 col-lg-offset-1">
                <h3>Don't just write an Android Java app.<br>
                Write a cross platform Java app.</b3>
                <h1>JUniversal</h1>
                <h3>Native,&nbsp; Cross platform,&nbsp; Mobile apps<br>
                in Java</h3>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->